.header h2 {
  font-family: "NeueMontreal", sans-serif;
  font-size: 28px;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.1em;
  color: var(--white);
  text-decoration: none;
  white-space: nowrap;
  margin-bottom: 15px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 50px 0;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.menu_item {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--white);
  cursor: pointer;
}

.menu_item a {
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s;
  letter-spacing: 0.1em;
}

.menu_item a:hover {
  color: var(--green);
  font-style: italic;
}

#active {
  color: var(--green);
}