/* font setup */
@font-face {
  font-family: "AO Mireille";
  src: url("../font/AO\ Mireille.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf");
}

@font-face {
  font-family: "NeueMontreal";
  src: url("../font/NeueMontreal-Regular.otf");
}

:root {
  --white: #f8f8f8;
  --gray: #444444;
  --accent-color: #070707;
  --green: #62e662;
}

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "NeueMontreal", sans-serif;
  background-color: var(--accent-color);
  color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AO Mireille", sans-serif;
}


.main_container {
  width: 100%;
  height: 100%;
  overflow: hidden;

}
.preview_container {
  position: absolute;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.video_container {
  position: relative;
  /* max-width: 100%; */
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.trailer_video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.title_container {
  position: absolute;
  bottom: 5%;
  right: 3%;
  color: var(--gray);
  z-index: 2;
  user-select: none;
  line-height: 1.2;
}

.title {
  font-family: "AO Mireille", sans-serif;
  font-size: clamp(2rem, 5vw, 7rem);
  font-weight: 500;
  color: var(--gray);
}

.subtitle {
  font-family: "AO Mireille", sans-serif;
  font-size: clamp(15px, 1vw, 2rem);
  color: var(--gray);
  text-align: right;
}

.press_key {
  position: absolute;
  bottom: 3%;
  right: 50%;
  color: var(--gray);
  z-index: 2;
  user-select: none;
}

.press_key:hover {
  color: var(--accent-color);
}

.press_key span {
  font-family: "AO Mireille", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray);
  animation-name: blink;
  animation-duration: 2s; /* Adjust this value to make the animation slower or faster */
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.hide-with-animation {
  animation: slideUp 2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--accent-color);
}

.header h2 {
  font-family: "NeueMontreal", sans-serif;
  font-size: 28px;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.1em;
  color: var(--white);
  text-decoration: none;
  white-space: nowrap;
  margin-bottom: 15px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 50px 0;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.menu_item {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--white);
  cursor: pointer;
}

.menu_item a {
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s;
  letter-spacing: 0.1em;
}

.menu_item a:hover {
  color: var(--green);
  font-style: italic;
}

#active {
  color: var(--green);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-color: var(--accent-color);
}

.showcase_video {
  width: 80%;
  height: auto;
  aspect-ratio: 16 / 9;
  background-color: var(--accent-color);
}

.showcase_video video {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 80px 0;
  color : var(--white);
  font-family: "Roboto", sans-serif;
  line-height: 1;
  letter-spacing: 0.1em;
  font-size: 14px;
}

.social_media {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.social_media li {
  list-style: none;
}

.social_media a {
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s;
}

.social_media a:hover {
  color: var(--green);
}