@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-color: #070707;
}

@font-face {
  font-family: "AO Mireille";
  src: url("/fonts/AO Mireille.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.hide-with-animation {
  animation: slideUp 2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.button {
  align-self: center;
  background-color: var(--white);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: var(--accent-color);
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 2ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  font-style: italic;
}

@layer components {
  .custom-button {
    @apply inline-block px-3 py-2 font-roboto text-base leading-[23px] text-[#070707] bg-[#f8f8f8] border-2 border-solid border-[#070707] cursor-pointer transition-all duration-200 ease-in-out select-none;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  }

  .custom-button:hover {
    @apply text-[#75dc75] border-[#75dc75];
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  }

  .custom-button:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.gif-pause {
  position: relative;
}

.gif-pause::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.aspect-video {
  aspect-ratio: 16 / 9;
}
